
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}
 <!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h3><span>Phỏng vấn các ngày trong tuần.</span></h3>
                    <p>Từ thứ 2 đến thứ 6.</p>
                    <div class="agileits-button top_ban_agile">
                        <a class="btn btn-primary btn-lg" href="#">Read More »</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="container">
                <div class="carousel-caption">
                    <h3><span>Phỏng vấn các ngày trong tuần</span></h3>
                    <p>(Từ thứ 2 đến thứ 6)</p>
                    <div class="agileits-button top_ban_agile">
                        <a class="btn btn-primary btn-lg scroll" href="#welcome">Read More »</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="container">
                <div class="carousel-caption">
                    <h3><span>Phỏng vấn các ngày trong tuần</span></h3>
                    <p>(Từ thứ 2 đến thứ 6)</p>
                    <div class="agileits-button top_ban_agile">
                        <a class="btn btn-primary btn-lg scroll" href="#welcome">Read More »</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item4">
            <div class="container">
                <div class="carousel-caption">
                    <h3><span>Phỏng vấn các ngày trong tuần</span></h3>
                    <p>(Từ thứ 2 đến thứ 6)</p>
                    <div class="agileits-button top_ban_agile">
                        <a class="btn btn-primary btn-lg scroll" href="#welcome" role="button">Read More »</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!-- The Modal -->
</div>
<!--//banner -->
<!--/loai thong tin tuyen dung -->
<div class="inner_content_info_agileits">
    <div class="container">
        <div class="inner_sec_grids_info_w3ls">
            <div class="col-md-4 blog-grid one" style="background-color:#00c0ef">
                <div class="events_info" style="color:red">
                    <h2>Tuyển dụng</h2>
                    <h1><a href="#">Công nhân</a></h1>
                </div>
            </div>
            <div class="col-md-4 blog-grid one" style="background-color:#00a65a">
                <div class="events_info" style="color:red">
                    <h2>Tuyển dụng</h2>
                    <h1><a href="/Staff/Index">Nhân viên</a></h1>
                </div>
            </div>
            <div class="col-md-4 blog-grid one lost" style="background-color:#a2d200">
                <div class="events_info" style="color:red">
                    <h2>Tuyển dụng</h2>
                    <h1><a href="#">Quản lý</a></h1>
                </div>
            </div>

            <div class="clearfix"></div>

        </div>
    </div>
</div>
<!--//loai thong tin tuyen dung -->
<!-- footer -->

